<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>

    <property name="dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.url">jdbc:postgresql://localhost:5439/tactic</property>
    <property name="connection.username">postgres</property>
    <property name="connection.password">postgres</property>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.enable_lazy_load_no_trans">true</property>


    <mapping class="ua.rozborskyRoman.internetShop.classes.goods.GoodsCategory"/>
    <mapping class="ua.rozborskyRoman.internetShop.classes.goods.CommonGoods"/>
    <mapping class="ua.rozborskyRoman.internetShop.classes.buyer.Buyer"/>

</session-factory>
</hibernate-configuration>
