body{
    margin: 0;
    height: 2000px;
}

#header{
    width: 100%;
    height: 200px;
    background: #DBDCDA;
}

#headerSign{
     width: 100%;
     height: 40px;
     background: #B9BCB8;
     border-bottom: 2px solid white;
}

#headerNavigation{
    width: 100%;
    height: 40px;
    background: #4A403E;
    position: relative;
    bottom: -120px;
}

#contentDiv{
    width: 1000px;
    height: 100%;
    background: #4A405E;
    margin: auto;
    position: relative;
}

#signLinks li{
    display: inline;
    color: red;
}

a{
    text-decoration: none;
    color: inherit;
}

#footer{
    width: 100%;
    height: 200px;
    background: #4A403E;
    position:relative;
    top:1600px;
}

#awards{
    width: 100%;
    height: 70px;
    background: #2C2523;
    position:relative;
    top:130px;
}

h1{
   text-align:  center;
}

#goods{
     margin: auto;
}